packages:
  yum:
    tomcat8: []
commands:
  0_install_mysql_connector_java:
    command: wget -O /usr/share/tomcat8/lib/mysql-connector-java-5.1.37.jar http://central.maven.org/maven2/mysql/mysql-connector-java/5.1.37/mysql-connector-java-5.1.37.jar
  1_download_new_dbcp:
    command: wget -O /usr/share/tomcat8/lib/tomcat-dbcp-8.0.29.jar http://central.maven.org/maven2/org/apache/tomcat/tomcat-dbcp/8.0.29/tomcat-dbcp-8.0.29.jar